<!-- Marketing Pop-up -->
<!-- <app-market-pop-up></app-market-pop-up> -->

<!-- Top Bar -->
<header id="topHead">
  <div class="container">

    <!-- PHONE/EMAIL -->
    <span class="quick-contact pull-left">
      <i class="fa fa-phone"></i>&nbsp;<a href="tel:8444247799">844-IAHSP99</a>
      <!-- <i class="fa fa-envelope-o"></i>&nbsp;<a href="mailto:christa@iahsp.com">christa@iahsp.com</a> -->
    </span><!-- /PHONE/EMAIL -->

    <!-- LINKS -->
    <div class="pull-right nav hidden-xs">
      <a href="https://www.facebook.com/InternationalAssociationofHomeStagingProfessionals/" target="_blank"
        rel="noopener"><i class="fa fa-facebook fa-lg"></i></a>
      <a href="https://iahspblog.com/blog/" target="_blank" rel="noopener">BLOG</a>
      <a href="https://iahsp.com/" target="_blank" rel="noopener">IAHSP.com</a>
      <a href="https://pages.iahsp.com/iahsp-2023-conference-expo-registration/"
        class="btn btn-primary btn-sm color-white space-bottom-4">Register Now</a>
    </div>
  </div>
</header><!-- /Top Bar -->

<header id="topNav" class="topHead">
  <div class="container">

    <!-- Mobile Menu Button -->
    <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse"><i
        class="fa fa-bars"></i></button>

    <!-- Logo text or image -->
    <a class="logo" href="/">
      <img src="https://d3oaxt0bwkjnjn.cloudfront.net/iahspconexpo/images/logo.jpg" class="height-100p"
        alt="IAHSP Logo" />
    </a>

    <!-- Top Nav -->
    <div class="navbar-collapse nav-main-collapse collapse pull-right">
      <nav class="nav-main mega-menu">
        <ul class="nav nav-pills nav-main scroll-menu" id="topMain">
          <li><a href="#wrapper" class="scrollTo">Home</a></li>
          <li><a href="#theme" class="scrollTo">Theme Reveal</a></li>
          <li><a href="#speakers" class="scrollTo">Speakers</a></li>
          <li><a href="#masquerade" class="scrollTo">Gala & Awards</a></li>
          <li><a href="#hotel" class="scrollTo">Hotel</a></li>
          <li><a href="#contact-us" class="scrollTo">Contact</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" href="#">
              <i class="fa fa-angle-down"></i>Past Events
            </a>
            <ul class="dropdown-menu">
              <li><a href="/2021">2021</a></li>
              <li>
                <a href="https://iahspvirtualconexpo.com/" target="_blank" rel="noopener noreferrer">2020</a>
              </li>
              <li><a href="/2019">2019</a></li>
              <li><a href="/2018">2018</a></li>
            </ul>
          </li>
          <li class="visible-xs"><a
              href="https://pages.iahsp.com/iahsp-2023-conference-expo-registration/"><strong>Register Now</strong></a>
          </li>
        </ul>
      </nav>
    </div><!-- /Top Nav -->
  </div>
</header>

<span id="header_shadow"></span>

<div id="wrapper">

  <!-- Hero REVOLUTION SLIDER -->
  <section class="fullscreenbanner-container">
    <div class="fullscreenbanner">
      <ul>

        <!-- SLIDE  -->
        <li data-transition="fade" data-slotamount="1" data-masterspeed="1500">

          <!-- MAIN IMAGE -->
          <img src="https://d3oaxt0bwkjnjn.cloudfront.net/images/new-orleans-louisiana.jpg"
            alt="IAHSP Conference and Expo New Orleans Louisiana 2023" data-bgfit="cover" data-bgposition="center"
            data-bgrepeat="no-repeat" />

          <!-- LAYER NR. 1 -->
          <div id="revolution-layer-0" class="tp-caption large_bold_white customin customout" data-x="center"
            data-hoffset="" data-y="50" data-voffset=""
            data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
            data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
            data-speed="890" data-start="800" data-easing="Back.easeOut" data-endspeed="500"
            data-endeasing="Power4.easeIn" style="z-index: 2">
            <img src="https://d3oaxt0bwkjnjn.cloudfront.net/images/iahsp-2023-conference-and-expo-logo.jpg"
              alt="IAHSP Conference and Expo New Orleans Louisiana 2023 Logo" width="333px"
              class="img-responsive center-block" />
          </div>

          <!-- LAYER NR. 2 -->
          <div id="revolution-layer-1" class="tp-caption large_text customin customout text-center" data-x="center"
            data-hoffset="" data-y="345" data-voffset=""
            data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
            data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
            data-speed="900" data-start="950" data-easing="Back.easeOut" data-endspeed="500"
            data-endeasing="Power4.easeIn" style="z-index: 2">
            2023 IAHSP Family Reunion Conference & EXPO
          </div>

          <!-- LAYER NR. 3 -->
          <div id="revolution-layer-1" class="tp-caption large_bold_white customin customout text-center"
            data-x="center" data-hoffset="" data-y="372" data-voffset=""
            data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
            data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
            data-speed="900" data-start="1000" data-easing="Back.easeOut" data-endspeed="500"
            data-endeasing="Power4.easeIn" style="z-index: 2">
            <small style="font-size: 47%; font-weight: 600;">The Home Staging Industry's Largest Educational Event &
              Vendor EXPO of the Year!</small>
          </div>

          <!-- LAYER NR. 4 -->
          <div id="revolution-layer-2" class="tp-caption largegreenbg customin customout" data-x="center"
            data-hoffset="" data-y="448" data-voffset=""
            data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
            data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
            data-speed="900" data-start="1050" data-easing="Back.easeOut" data-endspeed="500"
            data-endeasing="Power4.easeIn" style="z-index: 3">
            Feb 24-26, 2023 – New Orleans, LA
          </div>

          <!-- LAYER NR. 5 -->
          <div id="revolution-layer-3" class="tp-caption small_text customin customout text-center" data-x="center"
            data-hoffset="" data-y="542" data-voffset=""
            data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 0%;"
            data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
            data-speed="1000" data-start="1055" data-easing="Power4.easeInOut" data-endspeed="500"
            data-endeasing="Power4.easeInOut">
            We are bringing IAHSP Conference & EXPO to HEADQUARTERS in Louisiana - New Orleans!
            The 2023 IAHSP® Conference and EXPO brings together top Home Staging Industry
            business owners and Real Estate professionals, with key Affiliate Vendors for high-level
            teaching and networking.
          </div>
        </li>
      </ul>
    </div>
  </section>

  <!-- IAHSP 2023 Theme Reveal -->
  <section id="theme" class="padding100 special-row">
    <div class="container">
      <h2 class="text-center">
        IAHSP 2023 Theme Reveal
      </h2>

      <!-- Divider -->
      <div class="divider styleColor">
        <i class="fa fa-star"></i>
      </div>

      <div class="row">
        <div class="col-md-offset-2 col-md-8">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item"
              src="https://d3oaxt0bwkjnjn.cloudfront.net/videos/iahsp-2023-theme-reveal.mp4" allowfullscreen></iframe>
          </div>
        </div>
      </div>            
    </div>
  </section>

  <!-- Call for Speakers -->
  <section id="speakers" class="padding100">
    <div class="container">
      <img src="https://d3oaxt0bwkjnjn.cloudfront.net/images/call-for-speakers-for-2023-conference-expo-banner.png"
        class="center-block img-responsive" width="900px" alt="Call for Speakers for 2023 Conference Expo Banner">
    </div>
  </section>

  <!-- Masquerade, Mardi Gras, Gala & Awards, and Dinner -->
  <section id="masquerade" class="padding100 special-row">
    <div class="container">
      <h2 class="text-center">
        Masquerade, Mardi Gras, Gala & Awards, and Dinner
      </h2>

      <!-- Divider -->
      <div class="divider styleColor">
        <i class="fa fa-star"></i>
      </div>

      <img src="https://d3oaxt0bwkjnjn.cloudfront.net/images/awards-gala-invite-2023.jpg"
        class="center-block img-responsive" alt="Masquerade, Mardi Gras, Gala & Awards, and Dinner 2023">
    </div>
  </section>

  <!-- Sheraton New Orleans Hotel -->
  <section id="hotel" class="padding100">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="text-center"><strong>Hotel</strong></h2>

          <!-- divider -->
          <div class="divider styleColor">
            <i class="fa fa-star"></i>
          </div>

          <h2 class="line-height-42 text-center">
            Sheraton New Orleans Hotel
          </h2>

          <img src="https://d3oaxt0bwkjnjn.cloudfront.net/iahspconexpo/images/sheraton-new-orleans-hotel-logo.png" 
          class="center-block img-responsive space-bottom-32"
          alt="Sheraton New Orleans Hotel Logo" 
          width="300px">
        </div>

        <div class="col-md-offset-2 col-md-8">
          <div
            class="owl-carousel controlls-over"
            data-plugin-options='{"autoPlay":9000, "stopOnHover":true, "items": 1, "singleItem": true, "navigation": true, "pagination": true, "transitionStyle":"fadeUp", "itemsScaleUp":true}'
          >
            <div>
              <img
                alt="Sheraton New Orleans Hotel 1"
                class="center-block img-responsive"
                src="https://d3oaxt0bwkjnjn.cloudfront.net/iahspconexpo/images/sheraton-new-orleans-hotel-1.jpg"
              />
            </div>
            <div>
              <img
                alt="Sheraton New Orleans Hotel 2"
                class="center-block img-responsive"
                src="https://d3oaxt0bwkjnjn.cloudfront.net/iahspconexpo/images/sheraton-new-orleans-hotel-2.jpg"
              />
            </div>
            <div>
              <img
                alt="Sheraton New Orleans Hotel 3"
                class="center-block img-responsive"
                src="https://d3oaxt0bwkjnjn.cloudfront.net/iahspconexpo/images/sheraton-new-orleans-hotel-3.jpg"
              />
            </div>
            <div>
              <img
                alt="Sheraton New Orleans Hotel 4"
                class="center-block img-responsive"
                src="https://d3oaxt0bwkjnjn.cloudfront.net/iahspconexpo/images/sheraton-new-orleans-hotel-4.jpg"
                width="800px"
              />
            </div>
            <div>
              <img
                alt="Sheraton New Orleans Hotel 5"
                class="center-block img-responsive"
                src="https://d3oaxt0bwkjnjn.cloudfront.net/iahspconexpo/images/sheraton-new-orleans-hotel-5.jpg"
              />
            </div>
            <div>
              <img
                alt="Sheraton New Orleans Hotel 6"
                class="center-block img-responsive"
                src="https://d3oaxt0bwkjnjn.cloudfront.net/iahspconexpo/images/sheraton-new-orleans-hotel-6.jpg"
              />
            </div>
            <div>
              <img
                alt="Sheraton New Orleans Hotel 7"
                class="center-block img-responsive"
                src="https://d3oaxt0bwkjnjn.cloudfront.net/iahspconexpo/images/sheraton-new-orleans-hotel-7.jpg"
                width="780px"
              />
            </div>
            <div>
              <img
                alt="Sheraton New Orleans Hotel 8"
                class="center-block img-responsive"
                src="https://d3oaxt0bwkjnjn.cloudfront.net/iahspconexpo/images/sheraton-new-orleans-hotel-8.jpg"
              />
            </div>
          </div>
        </div>

        <div class="col-md-12">
          <p class="lead">
            <strong>RESERVE YOUR ROOM NOW!</strong> We have negotiated SPECIAL RATES for all our attendees and the room block will sell out! The Sheraton New Orleans 
              is located right in the French Quarter - walking distance to shops, Bourbon Street, Historic Mansions and much more!
          </p>

          <div class="text-center">
            <a
              href="https://book.passkey.com/e/50331948"
              class="btn btn-primary space-bottom-8 
            color-white"
              target="_blank"
              rel="noopener noreferrer"
              ><i class="fa fa-bed" aria-hidden="true"></i>Make a
              Reservation</a
            >
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Countdown -->
  <app-countdown></app-countdown>

  <!-- Contact us -->
  <app-contact></app-contact>
</div><!-- /wrapper -->

<app-footer></app-footer>