<!-- Marketing Pop-up -->
<!-- <app-market-pop-up></app-market-pop-up> -->

<!-- Top Bar -->
<header id="topHead">
  <div class="container">

    <!-- PHONE/EMAIL -->
    <span class="quick-contact pull-left">
      <i class="fa fa-phone"></i>&nbsp;<a href="tel:8444247799">844-IAHSP99</a>
      <!-- <i class="fa fa-envelope-o"></i>&nbsp;<a href="mailto:christa@iahsp.com">christa@iahsp.com</a> -->
    </span><!-- /PHONE/EMAIL -->

    <!-- LINKS -->
    <div class="pull-right nav hidden-xs">
      <a href="https://www.facebook.com/InternationalAssociationofHomeStagingProfessionals/" target="_blank"
        rel="noopener"><i class="fa fa-facebook fa-lg"></i></a>
      <a href="https://iahspblog.com/blog/" target="_blank" rel="noopener">BLOG</a>
      <a href="https://iahsp.com/" target="_blank" rel="noopener">IAHSP.com</a>
      <a href="https://pages.iahsp.com/iahsp-2023-conference-expo-registration/"
        class="btn btn-primary btn-sm color-white space-bottom-4">Register Now</a>
    </div>
  </div>
</header><!-- /Top Bar -->

<header id="topNav" class="topHead">
  <div class="container">

    <!-- Mobile Menu Button -->
    <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse"><i
        class="fa fa-bars"></i></button>

    <!-- Logo text or image -->
    <a class="logo" href="/">
      <img src="https://d3oaxt0bwkjnjn.cloudfront.net/iahspconexpo/images/logo.jpg" class="height-100p"
        alt="IAHSP Logo" />
    </a>

    <!-- Top Nav -->
    <div class="navbar-collapse nav-main-collapse collapse pull-right">
      <nav class="nav-main mega-menu">
        <ul class="nav nav-pills nav-main scroll-menu" id="topMain">
          <li><a href="#wrapper" class="scrollTo">Home</a></li>
          <li><a href="#theme" class="scrollTo">Theme Reveal</a></li>
          <li><a href="#speakers" class="scrollTo">Speakers</a></li>
          <li><a href="#masquerade" class="scrollTo">Gala & Awards</a></li>
          <li><a href="#hotel" class="scrollTo">Hotel</a></li>
          <li><a href="#contact-us" class="scrollTo">Contact</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" href="#">
              <i class="fa fa-angle-down"></i>Past Events
            </a>
            <ul class="dropdown-menu">
              <li><a href="/2021">2021</a></li>
              <li>
                <a href="https://iahspvirtualconexpo.com/" target="_blank" rel="noopener noreferrer">2020</a>
              </li>
              <li><a href="/2019">2019</a></li>
              <li><a href="/2018">2018</a></li>
            </ul>
          </li>
          <li class="visible-xs"><a
              href="https://pages.iahsp.com/iahsp-2023-conference-expo-registration/"><strong>Register Now</strong></a>
          </li>
        </ul>
      </nav>
    </div><!-- /Top Nav -->
  </div>
</header>

<span id="header_shadow"></span>

<div id="wrapper">

  <!-- Hero REVOLUTION SLIDER -->
  <section class="fullscreenbanner-container">
    <div class="fullscreenbanner">
      <ul>

        <!-- SLIDE  -->
        <li data-transition="fade" data-slotamount="1" data-masterspeed="1500">

          <!-- MAIN IMAGE -->
          <img src="https://d3oaxt0bwkjnjn.cloudfront.net/images/new-orleans-louisiana.jpg"
            alt="IAHSP Conference and Expo New Orleans Louisiana 2023" data-bgfit="cover" data-bgposition="center"
            data-bgrepeat="no-repeat" />

          <!-- LAYER NR. 1 -->
          <div id="revolution-layer-0" class="tp-caption large_bold_white customin customout" data-x="center"
            data-hoffset="" data-y="50" data-voffset=""
            data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
            data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
            data-speed="890" data-start="800" data-easing="Back.easeOut" data-endspeed="500"
            data-endeasing="Power4.easeIn" style="z-index: 2">
            <img src="https://d3oaxt0bwkjnjn.cloudfront.net/images/iahsp-2023-conference-and-expo-logo.jpg"
              alt="IAHSP Conference and Expo New Orleans Louisiana 2023 Logo" width="333px"
              class="img-responsive center-block" />
          </div>

          <!-- LAYER NR. 2 -->
          <div id="revolution-layer-1" class="tp-caption large_text customin customout text-center" data-x="center"
            data-hoffset="" data-y="345" data-voffset=""
            data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
            data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
            data-speed="900" data-start="950" data-easing="Back.easeOut" data-endspeed="500"
            data-endeasing="Power4.easeIn" style="z-index: 2">
            2023 IAHSP Family Reunion Conference & EXPO
          </div>

          <!-- LAYER NR. 3 -->
          <div id="revolution-layer-1" class="tp-caption large_bold_white customin customout text-center"
            data-x="center" data-hoffset="" data-y="372" data-voffset=""
            data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
            data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
            data-speed="900" data-start="1000" data-easing="Back.easeOut" data-endspeed="500"
            data-endeasing="Power4.easeIn" style="z-index: 2">
            <small style="font-size: 47%; font-weight: 600;">The Home Staging Industry's Largest Educational Event &
              Vendor EXPO of the Year!</small>
          </div>

          <!-- LAYER NR. 4 -->
          <div id="revolution-layer-2" class="tp-caption largegreenbg customin customout" data-x="center"
            data-hoffset="" data-y="448" data-voffset=""
            data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
            data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
            data-speed="900" data-start="1050" data-easing="Back.easeOut" data-endspeed="500"
            data-endeasing="Power4.easeIn" style="z-index: 3">
            Feb 24-26, 2023 – New Orleans, LA
          </div>

          <!-- LAYER NR. 5 -->
          <div id="revolution-layer-3" class="tp-caption small_text customin customout text-center" data-x="center"
            data-hoffset="" data-y="542" data-voffset=""
            data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 0%;"
            data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
            data-speed="1000" data-start="1055" data-easing="Power4.easeInOut" data-endspeed="500"
            data-endeasing="Power4.easeInOut">
            We are bringing IAHSP Conference & EXPO to HEADQUARTERS in Louisiana - New Orleans!
            The 2023 IAHSP® Conference and EXPO brings together top Home Staging Industry
            business owners and Real Estate professionals, with key Affiliate Vendors for high-level
            teaching and networking.
          </div>
        </li>
      </ul>
    </div>
  </section>

  <!-- IAHSP 2023 Theme Reveal -->
  <section id="theme" class="padding100 special-row">
    <div class="container">
      <h2 class="text-center">
        IAHSP 2023 Theme Reveal
      </h2>

      <!-- Divider -->
      <div class="divider styleColor">
        <i class="fa fa-star"></i>
      </div>

      <div class="row">
        <div class="col-md-offset-2 col-md-8">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item"
              src="https://d3oaxt0bwkjnjn.cloudfront.net/videos/iahsp-2023-theme-reveal.mp4" allowfullscreen></iframe>
          </div>
        </div>
      </div>            
    </div>
  </section>

  <!-- IAHSP PSCE Designation -->
  <section id="psce" class="padding100">
    <div class="container">
      <img src="https://d3oaxt0bwkjnjn.cloudfront.net/iahspconexpo/images/iahsp-professional-stager-continuing-education-logo.png" 
        alt="IAHSP Professional Stager Continuing Education Logo" 
        class="center-block img-responsive space-bottom-15" width="275px" />
      <h2 class="text-center">        
        IAHSP Professional Stager Continuing Education<br />
        <small>IAHSP CONEXPO is your GETAWAY with a TAKEAWAY!</small>
      </h2>

      <!-- Divider -->
      <div class="divider styleColor">
        <i class="fa fa-star"></i>
      </div>

      <div class="row">
        <div class="col-md-12">
          <p class="lead">As our industry has grown, so has the need to establish professional standards for education and business practices. Since 
          the pathway into staging has not mandated education or adherence to higher standards, we decided to develop an industry-wide 
          Continuing Education program for Pro-Stagers that will accomplish two KEY goals:</p>

          <ol class="lead">
            <li>It will allow stagers to be up to date on the important aspects of our industry</li>
            <li>Let the public know what to look for in hiring a Pro-Stager</li>
          </ol>

          <p class="lead">Pro-Stager Continuing Education provides:</p>

          <ul class="lead">
            <li>Up to date info on the real estate market trends, where we are headed for the next 12
            months, and how that impacts our clients and our business</li>
            <li>Up to date education on the latest design and staging trends for color, furniture styles,
            materials, artwork, decor, rugs, etc.</li>
            <li>Up to date education on important issues concerning our industry including but not
            limited to: Pricing Strategies, Costs, Hiring Strategies, Excellence Standards, and
            Code of Ethics, Regulatory issues</li>
          </ul>

          <p class="lead">Upon completion, you will receive: Your IAHSP® Pro Stager CE Certificate and Logo.</p>
          <p class="lead">To receive these new credentials, attendees must attend all sessions assigned to this designation.</p>
          <p class="lead">This IAHSP-PSCE requires annual education and passing a test to retain status as a Pro-Stager.</p>

          <p class="lead"><strong>This is JENNIE NORRIS SHARING:</strong></p>

          <p class="lead">The Home Staging industry's NEWEST Credential is the PSCE - Professional Stager Continuing Education recipient. 
          This logo will be earned by those in the home staging industry who want to share with their potential clients that they 
          are up to date on real estate market trends, design and style trends, and code of ethics, pricing and business practices 
          to serve and protect their clients.</p>

          <p class="lead">It will be offered for the FIRST TIME at the 2023 IAHSP ConEXPO in New Orleans, and all attendees will receive this new credential.</p>

          <p class="lead"><strong>WHY?</strong></p>

          <p class="lead">Just about every professional has CE requirements to keep a license and continue practice. Real estate agents need to attend CE courses 
          every year. Home Staging should be no different. The work we do to impact the industry is critical, and we want to be seen as a 
          mandatory part of the process, not an option, and not a service that people think is just about putting anything in a house and 
          calling it "staged."</p>

          <p class="lead">Truth is, the Home Staging does not have a MANDATORY path for having a business and serving the public. There is no class required, 
          no test to take and no mandatory continuing education - and this was a MISTAKE that needs to be corrected. People who want to be part of 
          this industry need to understand expectations, be held to a performance standard and understand pricing and value for the services we 
          offer.</p>

          <p class="lead">Professionals serving this industry SHOULD have to be up to date on the industry they serve - real estate - and understand how the 
          industry has EVOLVED so they are not doing things that went away 15-20 years ago, and there are stagers who continue to diminish the 
          professionalism of our industry by thinking they are staging, when in reality they are putting some small decor and accent pieces in 
          a vacant house, and THAT is NOT staging. They were not taught standards, and do not know what they do not know. But we do.</p>

          <p class="lead">We need to match the expectations of BUYERS - where over 80% of them EXPECT houses for sale to LOOK LIKE THEY DO ON TV - 
          on HGTV - where they are stylized and professionally Staged. <em>We need to increase the standards for our services, and the ONLY 
          way to accomplish that is to require continuing education for industry members</em>.</p>

          <p class="lead">Those who choose not to obtain this credential are therefore choosing not to be the most up-to-date, accountable, and adhere 
          to standards for a professional stager in the industry, and the public needs to know who to avoid and who to hire. Rather than 
          go find the info on your own, attend a course that is inexpensive, and ensures you have the most accurate and timely 
          information.</p>

          <p class="lead">The course will be offered virtually online and annual continued education requirements will be in place from IAHSP, the ONLY professional 
          industry association that requires a baseline of education to join. <a href="https://l.facebook.com/l.php?u=https%3A%2F%2Fwww.linkedin.com%2Ffeed%2Fhashtag%2F%3Fkeywords%3Dstandardsmatter%26highlightedUpdateUrns%3Durn%253Ali%253Aactivity%253A6959942213531287552%26fbclid%3DIwAR2UP3HGAL7z3xNR8tOwuBdMKlib3yxeYkZ1AymQm7xZ4259LrGou8p8J9M&h=AT3cOh7T6u6z_nptYyEVAuy42TY9MFyNDn25wuahFT73LwOipRdJAiIyDjOrYXolH9OypzUGCK4PLP1gCFdfs_VV8rso1-_PJYNGA_VTxZT4aVN-yOu3y0xFhrFKmdkz6wSfUPoD5W16aUja5Q&__tn__=-UK-R&c[0]=AT0vkOAR3j-PPs78ybb3RQjw6HOfLAdlRZoS0pYpQF4yN1XyudO5BoiVy8mFPcBhKL66XT5oZZ9Seavw45QeXAS_tktDchPh6SkeDolMzUB55v-J7YsQDiLOwq3Sg2utxWIL50EJwdeQQ51JtW_7BeePZ031eOlvgqo" 
          target="_blank" rel="noopener noreferrer"></a>#StandardsMatter.</p>

          <p class="lead">Annual CE will be $99 and will ensure all recipients and Pro-Stagers are up to date on important issues impacting our industry. <em>For 2023 attendees, 
          the PSCE is INCLUDED in your conference registration payment</em>.</p>
        </div>
      </div>            
    </div>
  </section>

  <!-- Call for Speakers -->
  <section id="speakers" class="padding100 special-row">
    <div class="container">
      <img src="https://d3oaxt0bwkjnjn.cloudfront.net/iahspconexpo/images/iahsp-con-expo-call-for-speakers-promo.png"
        class="center-block img-responsive space-bottom-15" width="480px" alt="Call for Speakers for 2023 Conference Expo Promo Banner">
      <h2 class="text-center">Call for Speakers</h2>

      <!-- Divider -->
      <div class="divider styleColor">
        <i class="fa fa-star"></i>
      </div>

      <h3>CALL FOR SPEAKERS for the 2023 IAHSP CONFERENCE & EXPO in NEW ORLEANS is here!</h3>

      <p class="lead">Do you have a great story to tell or a special aspect of business building that you excel at and want to share with others? Are you a 
        dynamic, energetic and knowledgeable speaker? Do you understand how to impart knowledge and motivate your audience? If you said YES 
        to these questions, then we would love to hear what you want to share at the most exciting and highly anticipated Home Staging industry 
        event of the year!! Go to <a href="http://www.homestagingspeakers.com/" target="_blank" rel="noopener noreferrer">www.HomeStagingSpeakers.com</a> 
        to submit. Read ALL of the content so you know what we are looking for from speakers.</p>
      
      <p class="lead">Submit all required info by Oct 1st!</p>

      <!-- Speakers Here -->
      <h3 class="text-center">Featured Speakers</h3>
      <div class="row">
        <ng-container *ngFor="let fs of fss; let i = index">
          <div class="col-sm-4">
            <img src="{{ fs.image }}" 
            alt="{{ fs.fname + '' + fs.lname + ' Featured Speaker' }}"
            class="center-block img-responsive space-bottom-15" />
          </div>
        </ng-container>
      </div>

      <p class="lead">Join industry colleagues for THE most anticipated and exciting Home Staging and Real Estate EVENT – IAHSP® Conference & EXPO! 
        This time we are headed to <strong>NEW ORLEANS – The Big Easy – Feb 24-26, 2023!</strong></p>

      <p class="lead"><strong><em>Register NOW for best prices</em></strong> and to secure your spot! Reserve your hotel room NOW – our room block will 
        sell out! Don’t forget about our Advanced Stager Training Feb 27-28 for 6+ figure business owners! (see below).</p>

      <p class="lead"><strong>No other group hosts an event like IAHSP® does! From the excellent education on timely topics to the motivation, inspiration, 
        recognition and connections you will make – the weekend is a true celebration of our industry!</strong></p>

      <ul class="lead">
        <li><strong>EDUCATION</strong> from TOP Industry Pros for beginners, intermediate and advanced business owners!</li>
        <li><strong>INSPIRATION</strong> that will carry you forward to new heights of success!</li>
        <li><strong>MOTIVATION</strong> that will get you out the door to achieve your goals!</li>
        <li><strong>NETWORKING</strong> with colleagues from around the world!</li>
        <li><strong>SHOPPING OUR VENDOR EXPO</strong> with special pricing unavailable to non-attendees!</li>
        <li><strong>AWARDS</strong> to recognize top staging individuals and teams!</li>
        <li><strong>GALA DINNER</strong> where we have fun and enjoy celebrating each other and our industry!</li>
      </ul>      
    </div>
  </section>

  <!-- Masquerade, Mardi Gras, Gala & Awards, and Dinner -->
  <section id="masquerade" class="padding100">
    <div class="container">
      <h2 class="text-center">
        Masquerade, Mardi Gras, Gala & Awards, and Dinner
      </h2>

      <!-- Divider -->
      <div class="divider styleColor">
        <i class="fa fa-star"></i>
      </div>

      <img src="https://d3oaxt0bwkjnjn.cloudfront.net/images/awards-gala-invite-2023.jpg"
        class="center-block img-responsive" alt="Masquerade, Mardi Gras, Gala & Awards, and Dinner 2023">
    </div>
  </section>

  <!-- Sheraton New Orleans Hotel -->
  <section id="hotel" class="padding100 special-row">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="text-center">Hotel</h2>

          <!-- divider -->
          <div class="divider styleColor">
            <i class="fa fa-star"></i>
          </div>

          <h3 class="line-height-42 text-center">
            Sheraton New Orleans Hotel
          </h3>

          <img src="https://d3oaxt0bwkjnjn.cloudfront.net/iahspconexpo/images/sheraton-new-orleans-hotel-logo.png" 
          class="center-block img-responsive space-bottom-32"
          alt="Sheraton New Orleans Hotel Logo" 
          width="300px">
        </div>

        <div class="col-md-offset-2 col-md-8">
          <div
            class="owl-carousel controlls-over"
            data-plugin-options='{"autoPlay":9000, "stopOnHover":true, "items": 1, "singleItem": true, "navigation": true, "pagination": true, "transitionStyle":"fadeUp", "itemsScaleUp":true}'
          >
            <div>
              <img
                alt="Sheraton New Orleans Hotel 1"
                class="center-block img-responsive"
                src="https://d3oaxt0bwkjnjn.cloudfront.net/iahspconexpo/images/sheraton-new-orleans-hotel-1.jpg"
              />
            </div>
            <div>
              <img
                alt="Sheraton New Orleans Hotel 2"
                class="center-block img-responsive"
                src="https://d3oaxt0bwkjnjn.cloudfront.net/iahspconexpo/images/sheraton-new-orleans-hotel-2.jpg"
              />
            </div>
            <div>
              <img
                alt="Sheraton New Orleans Hotel 3"
                class="center-block img-responsive"
                src="https://d3oaxt0bwkjnjn.cloudfront.net/iahspconexpo/images/sheraton-new-orleans-hotel-3.jpg"
              />
            </div>
            <div>
              <img
                alt="Sheraton New Orleans Hotel 4"
                class="center-block img-responsive"
                src="https://d3oaxt0bwkjnjn.cloudfront.net/iahspconexpo/images/sheraton-new-orleans-hotel-4.jpg"
                width="800px"
              />
            </div>
            <div>
              <img
                alt="Sheraton New Orleans Hotel 5"
                class="center-block img-responsive"
                src="https://d3oaxt0bwkjnjn.cloudfront.net/iahspconexpo/images/sheraton-new-orleans-hotel-5.jpg"
              />
            </div>
            <div>
              <img
                alt="Sheraton New Orleans Hotel 6"
                class="center-block img-responsive"
                src="https://d3oaxt0bwkjnjn.cloudfront.net/iahspconexpo/images/sheraton-new-orleans-hotel-6.jpg"
              />
            </div>
            <div>
              <img
                alt="Sheraton New Orleans Hotel 7"
                class="center-block img-responsive"
                src="https://d3oaxt0bwkjnjn.cloudfront.net/iahspconexpo/images/sheraton-new-orleans-hotel-7.jpg"
                width="780px"
              />
            </div>
            <div>
              <img
                alt="Sheraton New Orleans Hotel 8"
                class="center-block img-responsive"
                src="https://d3oaxt0bwkjnjn.cloudfront.net/iahspconexpo/images/sheraton-new-orleans-hotel-8.jpg"
              />
            </div>
          </div>
        </div>

        <div class="col-md-12">
          <p class="lead">
            <strong>RESERVE YOUR ROOM NOW!</strong> We have negotiated SPECIAL RATES for all our attendees and the room block will sell out! The Sheraton New Orleans 
              is located right in the French Quarter - walking distance to shops, Bourbon Street, Historic Mansions and much more!
          </p>

          <div class="text-center">
            <a
              href="https://book.passkey.com/e/50331948"
              class="btn btn-primary space-bottom-8 
            color-white"
              target="_blank"
              rel="noopener noreferrer"
              ><i class="fa fa-bed" aria-hidden="true"></i>Make a
              Reservation</a
            >
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Countdown -->
  <app-countdown></app-countdown>

  <!-- Contact us -->
  <app-contact></app-contact>
</div><!-- /wrapper -->

<app-footer></app-footer>