<app-shared-2019-header></app-shared-2019-header>
<div id="wrapper" class="padding-bottom-0">
  <section class="padding100">
    <div class="container">
      <h1 class="text-center">Register for the MOST EXCITING Home Staging Industry Event of  2019!</h1>
      <div class="divider"><!-- divider --></div>
      <div class="row">

        <!-- INFO -->
        <div class="col-md-6">
          <h2>2019 IAHSP CONFERENCE & EXPO</h2>
          <p class="lead">
            The 2019 IAHSP® Conference and EXPO - ROCK Your Business in Music City- brings together top Home Staging Industry business owners and Real Estate professionals, with key Affiliate Vendors for high-level teaching and networking. The Conference is being held in Nashville, TN with an Advanced Stager Training following the event.
          </p>
          <p class="lead">
            Our Conferences are known for key teaching and topics that are pertinent for your success.  We will have Break-out Sessions with topics geared towards newer Stagers and more experienced Stagers.  Our Speakers are all successful Business owners and our KEY NOTE Speakers from outside the industry bring a different perspective to our event and are always well received.
          </p>
          <p class="lead">
            OUR KEYNOTE SPEAKERS! To be Announced!<br/>
            You KNOW we are going to line up great speakers!
          </p>


        </div>
        <!-- /INFO -->

        <!-- FORM -->
        <div class="col-md-6">
          <form role="form" name="formContactUs" class="white-row" #form="ngForm" novalidate="">
            <div class="row">
              <div class="form-group">
                <div class="col-sm-12">
                  <label>Full Name *</label>
                  <input
                    type="text" 
                    class="form-control"
                    maxlength="100"
                    name="frmName"
                    [(ngModel)]="objUser.fullName"
                    required
                  /><!-- /frmName -->
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-12">
                  <label>E-mail Address *</label>
                  <input
                    type="email"i
                    class="form-control"
                    maxlength="100"
                    name="frmEmail"
                    [(ngModel)]="objUser.email"
                    required
                  /><!-- /frmEmail -->
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-12">
                  <label>Phone Number *</label>
                  <input type="text"
                    class="form-control"
                    maxlength="100"
                    name="frmSubject"
                    [(ngModel)]="objUser.phone"
                    required
                  /><!-- /frmSubject -->
                </div>
              </div>
            </div>
            <br />

            <div class="row">
              <div class="col-md-12">
                <re-captcha 
                  (captchaResponse)="mdCaptchaHandle($event)" 
                  (captchaExpired)="mdCaptchaExpired()"
                  site_key="6Lci7RsUAAAAAPHt32HGEiSlk5sAHBLSL-z2MqN-"
                  ></re-captcha>
              </div>
            </div>

            <br />

            <div class="row">
              <div class="col-md-12">
                <button type="button" id="btnSubmit" class="btn btn-primary btn-lg" [disabled]="form.invalid || objUser.googleResponse == null" (click)="mdSend()">Register</button>
              </div>
            </div>
          </form>
        </div>
        <!-- /FORM -->


      </div>
    </div>
  </section>
</div>

<app-shared-2019-footer></app-shared-2019-footer>
