<app-shared-2019-header></app-shared-2019-header>
<div id="wrapper" class="padding-bottom-0">
  <section class="padding100">
    <div class="container">
      <h1 class="text-center">Register for the MOST EXCITING Home Staging Industry Event of  2019!</h1>
      <div class="divider"><!-- divider --></div>
      <div class="row">

        <!-- INFO -->
        <div class="col-md-6">
          <h2>Welcome!</h2>
          <p class="lead">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus iaculis interdum leo, quis commodo purus semper at.
          </p>
          <p class="lead">
            Nam luctus convallis viverra. Nunc nec finibus turpis. Ut in vulputate turpis. Cras id tristique mauris, vitae malesuada felis.
          </p>
          <p class="lead">
            Aliquam a massa sit amet libero tempor sodales. Cras tempus gravida placerat. Aenean id risus leo. Duis posuere nibh ut fringilla feugiat.
          </p>


        </div>
        <!-- /INFO -->

        <!-- FORM -->
        <div class="col-md-6">
          <h2>Start Your Registration Now!</h2>
          <form>


            <p class="lead">
              Morbi in tellus vitae erat pellentesque viverra ut a nulla. Proin laoreet faucibus magna eget venenatis.
            </p>

            <form role="form" name="formContactUs" class="white-row" #form="ngForm" novalidate="">
              <div class="row">
                <div class="form-group">
                  <div class="col-sm-12">
                    <label>Full Name *</label>
                    <input
                      type="text" 
                      class="form-control"
                      maxlength="100"
                      name="frmName"
                      [(ngModel)]="objUser.strFullName"
                      required
                    /><!-- /frmName -->
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-12">
                    <label>E-mail Address *</label>
                    <input
                      type="email"i
                      class="form-control"
                      maxlength="100"
                      name="frmEmail"
                      [(ngModel)]="objUser.strEmail"
                      required
                    /><!-- /frmEmail -->
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-12">
                    <label>Phone Number *</label>
                    <input type="text"
                      class="form-control"
                      maxlength="100"
                      name="frmSubject"
                      [(ngModel)]="objUser.strPhone"
                      required
                    /><!-- /frmSubject -->
                  </div>
                </div>
              </div>
              <br />

              <div class="row">
                <div class="col-md-12">
                  <re-captcha 
                    (captchaResponse)="mdCaptchaHandle($event)" 
                    (captchaExpired)="mdCaptchaExpired()"
                    site_key="6Lci7RsUAAAAAPHt32HGEiSlk5sAHBLSL-z2MqN-"
                    ></re-captcha>
                </div>
              </div>

              <br />

              <div class="row">
                <div class="col-md-12">
                  <button type="button" id="btnSubmit" class="btn btn-primary btn-lg" [disabled]="form.invalid || objUser.googleResponse == null" (click)="mdSend()">Register</button>
                </div>
              </div>
            </form>


          </form>
        </div>
        <!-- /FORM -->


      </div>
    </div>
  </section>
</div>

<app-shared-2019-footer></app-shared-2019-footer>
