<app-shared-2019-header></app-shared-2019-header>
<div id="wrapper" class="padding-bottom-0">
  <section class="padding100">
    <div class="container">
      <h2 class="text-center">Register for the MOST EXCITING Home Staging Industry Event of  2019!</h2>

      <div class="row">

        <!-- INFO -->
        <div class="col-md-6">
          This is some form instructions<br/>This is some form instructions<br/>This is some form instructions<br/>
          This is some form instructions<br/>This is some form instructions<br/>This is some form instructions<br/>
          This is some form instructions<br/>This is some form instructions<br/>This is some form instructions<br/>
          This is some form instructions<br/>This is some form instructions<br/>This is some form instructions<br/>
          This is some form instructions<br/>This is some form instructions<br/>This is some form instructions<br/>
          This is some form instructions<br/>This is some form instructions<br/>This is some form instructions<br/>
          This is some form instructions<br/>This is some form instructions<br/>This is some form instructions<br/>
          This is some form instructions<br/>This is some form instructions<br/>This is some form instructions<br/>

        </div>
        <!-- /INFO -->

        <!-- FORM -->
        <div class="col-md-6">
          <form>
            this is the form
          </form>
        </div>
        <!-- /FORM -->


      </div>
    </div>
  </section>
</div>

<app-shared-2019-footer></app-shared-2019-footer>
