/* You can add global styles to this file, and also import other style files */

/* Hero REVOLUTION SLIDER */
.forcefullwidth_wrapper_tp_banner {
    margin-bottom: 0 !important;
}


/* ====================================================================
    WordPress Formatting
==================================================================== */
.aligncenter {
    text-align:center;
    display:block;
    margin:auto;
}

/* ====================================================================
    IAHSP Technology
==================================================================== */
/* Margins & Paddings */
.margin-top-0 { margin-top: 0px; }
.margin-bottom-0 { margin-bottom: 0px; }
.space-top-15 { margin-top: 15px !important; }
.space-top-28 { margin-top: 28px; }
.space-top-32 { margin-top: 32px !important; }
.space-top-40 { margin-top: 40px !important; }
.space-top-80 { margin-top: 80px !important; }
.space-bottom-5 { margin-bottom: 5px !important; }
.space-bottom-4 { margin-bottom: 4px !important; }
.space-bottom-7 { margin-bottom: 7px !important; }
.space-bottom-8 { margin-bottom: 8px !important; }
.space-bottom-10 { margin-bottom: 10px !important; }
.space-bottom-12 { margin-bottom: 12px !important; }
.space-bottom-13 { margin-bottom: 13px !important; }
.space-bottom-15 { margin-bottom: 15px !important; }
.space-bottom-20 { margin-bottom: 20px !important; }
.space-bottom-24 { margin-bottom: 24px !important; }
.space-bottom-25 { margin-bottom: 25px !important; }
.space-bottom-30 { margin-bottom: 30px !important; }
.space-bottom-32 { margin-bottom: 32px !important; }
.space-bottom-40 { margin-bottom: 40px !important; }
.space-bottom-50 { margin-bottom: 50px !important; }
.space-bottom-67 { margin-bottom: 67px !important; }
.space-bottom-80 { margin-bottom: 80px !important; }
.space-right-5 { margin-right: 5px !important; }
.space-right-10 { margin-right: 10px !important; }
.padding-0 { padding: 0px !important; }
.padding-top-0 { padding-top: 0px !important; }
.padding-top-5 { padding-top: 5px !important; }
.padding-top-60 { padding-top: 60px !important; }
.padding-bottom-0 { padding-bottom: 0 !important; }
.padding-left-0 { padding-left: 0px !important}
.padding-left-80 { padding-left: 80px !important}
.padding-0-8 { padding: 0 8px }
.padding-40-0 { padding: 40px 0 }

/* Font Size */
.font-60 { font-size: 60px !important; }
.font-em22 { font-size: 2.2em; }

/* Font Weight */
.font-weight-400 { font-weight: 400 !important; }
.font-weight-500 { font-weight: 500 !important; }
.font-weight-800 { font-weight: 800 !important; }

/* Text Align */
.text-align-left { text-align: left; }

/* Line Height */
.line-height-28 { line-height: 28px; }
.line-height-32 { line-height: 32px; }
.line-height-36 { line-height: 36px; }
.line-height-42 { line-height: 42px !important; }
.line-height-48 { line-height: 48px; }
.line-height-1-5 { line-height: 1.5; }

/* Color */
.color-black { color: #2D2926; }
.color-diamond { color: #98e9fc; }
.color-gold { color: #cf8f12 }
.color-platinum { color: #cecdcc }
.color-red { color: red }
.color-silver { color: silver }
.color-white { color: #F4F5F0; }

/* Background Color */
.bg-gold { background-color: #cf8f12 }
.bg-light-gray { background-color: #f8f8f8 }
.bg-black-trans3 { background-color: rgba(0,0,0,0.3); }
.bg-black-trans5 { background-color: rgba(0,0,0,0.5); }

/* Display */
.display-flex { display: flex !important; }

/* List Style */
.list-style-none { list-style: none !important; }
.list-style-disc { list-style: disc }

/* Float */
.float-left { float: left !important; }

/* Center hr */
.center-hr { margin: 60px auto; }

/* 2019 Speakers */
#speakers div.modal-body p, #speakers ul>li {
    color: #2D2926;
}