/* You can add global styles to this file, and also import other style files */

/* ====================================================================
    WordPress Formatting
==================================================================== */
.aligncenter {
    text-align:center;
    display:block;
    margin:auto;
}

/* ====================================================================
    IAHSP Technology
==================================================================== */
/* Margins & Paddings */
.margin-top-0 { margin-top: 0px; }
.margin-bottom-0 { margin-bottom: 0px; }
.space-top-15 { margin-top: 15px !important; }
.space-bottom-5 { margin-bottom: 5px !important; }
.space-bottom-10 { margin-bottom: 10px !important; }
.space-bottom-15 { margin-bottom: 15px !important; }
.space-bottom-25 { margin-bottom: 25px !important; }
.space-bottom-30 { margin-bottom: 30px !important; }
.space-bottom-32 { margin-bottom: 32px !important; }
.space-bottom-40 { margin-bottom: 40px !important; }
.space-bottom-50 { margin-bottom: 50px !important; }
.space-bottom-80 { margin-bottom: 80px !important; }
.padding-0 { padding: 0px !important; }
.padding-top-0 { padding-top: 0px !important; }
.padding-top-5 { padding-top: 5px !important; }
.padding-left-80 { padding-left: 80px !important}

/* Font Size */
.font-60 { font-size: 60px !important; }

/* Font Weight */
.font-weight-400 { font-weight: 400 !important; }
.font-weight-500 { font-weight: 500 !important; }

/* Line Height */
.line-height-28 { line-height: 28px; }

/* Color */
.color-gold { color: #cf8f12 }
.color-white { color: #fff; }

/* Background Color */
.bg-white { background-color: #fff; }
.bg-black-trans3 { background-color: rgba(0,0,0,0.3); }
.bg-black-trans5 { background-color: rgba(0,0,0,0.5); }

/* Display */
.display-flex { display: flex !important; }

/* List Style */
.list-style-none { list-style: none !important; }
.list-style-disc { list-style: disc }